:root {
  box-sizing: border-box;
  --primary-blue: #4470f6;
  --primary-gray: #acadbc;
}

*,
::before,
::after {
  box-sizing: inherit;
}

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 48px;
  overflow: hidden;
}

.left-img {
  width: 40vw;
  height: 100vh;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin-top: 4px;
}

.credit {
  text-align: center;
  color: gray;
}

.credit a {
  color: gray;
  text-decoration: none;
}

.credit a:hover {
  color: var(--primary-blue);
}

.main-form {
  width: 60vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-form header {
  font-size: 1.6rem;
}

header h1 {
  color: var(--primary-blue);
  margin-bottom: 10px;
}

.header-line {
  height: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primary-gray);
}

.header-line.text {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: .5rem;
  align-items: center;
  color: var(--primary-blue);
}

.header-line.text::before,
.header-line.text::after {
  content: "";
  height: 2px;
  background-color: var(--primary-gray);
  display: block;
}